@model ShopCartViewModel
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>ПРОДУКТ</th>
                            <th>НАЗВАНИЕ</th>
                            <th class="text-center">ЦЕНА ЗА ЕДИНИЦУ</th>
                            <th class="text-center">КОЛИЧЕСТВО</th>
                            <th class="text-center">ИТОГО</th>
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            foreach (var item in Model.ShopCart.ListShortItems)
                            {
                                <tr>
                                    <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                                    <td class="product-des" data-title="Description">
                                        <p class="product-name"><a href="#">@item.Product.Name</a></p>
                                        <p class="product-des">@item.Product.ShortDesc</p>
                                    </td>
                                    <td class="price" data-title="Price"><span>@item.Product.Price.ToString("c") </span></td>
                                    <td class="qty" data-title="Qty">
                                        <!-- Input Order -->
                                        <div class="input-group">
                                            <div class="button minus">
                                                <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]" asp-controller="ShopCart" asp-action="DownCount" asp-route-item="@item">
                                                    <i class="ti-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="100" value="1">
                                            <div class="button plus">
                                                <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]" asp-controller="ShopCart" asp-action="UpCount" asp-route-item="@item">
                                                    <i class="ti-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!--/ End Input Order -->
                                    </td>
                                    <td class="total-amount" data-title="Total"><span>@item.TotalPrice</span></td>

<td class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon"></i></a></td>
                                </tr> 
                            }
                        }                        
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Enter Your Coupon">
                                        <button class="btn">Apply</button>
                                    </form>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Shipping (+10$)</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Итого по корзине<span>$330.00</span></li>
                                    <li>Доставка<span>Бесплатная</span></li>
                                    <li>Скидка<span>$20.00</span></li>
                                    <li class="last">К оплате<span>$310.00</span></li>
                                </ul>
                                <div class="button5">
                                    <a href="#" class="btn">Оплатить</a>
                                    <a href="#" class="btn">Продолжить покупки</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->